# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/code/x64/Release/crop_layer_kernels.cu-313317753.deps
/code/x64/Release/deconvolutional_kernels.cu700364233.deps
/code/x64/Release/dropout_layer_kernels.cu-1692464112.deps
/code/x64/Release/im2col_kernels.cu1635782670.deps
/code/x64/Release/maxpool_layer_kernels.cu335208234.deps
/code/x64/Release/yolotest.iobj
/code/x64/Release/yolotest.ipdb
/code/x64/Release/yolotest.tlog
/code/x64/Release/activation_kernels.cu.cache
/code/x64/Release/avgpool_layer_kernels.cu.cache
/code/x64/Release/blas_kernels.cu.cache
/code/x64/Release/col2im_kernels.cu.cache
/code/x64/Release/convolutional_kernels.cu.cache
/code/x64/Release/crop_layer_kernels.cu.cache
/code/x64/Release/deconvolutional_kernels.cu.cache
/code/x64/Release/dropout_layer_kernels.cu.cache
/code/x64/Release/im2col_kernels.cu.cache
/code/x64/Release/maxpool_layer_kernels.cu.cache
/code/x64/Release/activation_kernels.cu1156545901.deps
/code/x64/Release/avgpool_layer_kernels.cu-838702276.deps
/code/x64/Release/blas_kernels.cu686853728.deps
/code/x64/Release/col2im_kernels.cu513954999.deps
/code/x64/Release/convolutional_kernels.cu2067780152.deps
/code/x64/Release/yolotest.log
/code/x64/Release/yolotest.Build.CppClean.log
/code/x64/Release/*.mp4
